* {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 9vh;
  min-width: 100vw;
  box-shadow: 0 5px 25px -6px #999;
}

.headerName {
  width: 40%;
}

.navButtons {
  width: 60%;
}

#headshot {
  height: 65px;
  width: 65px;
  border-radius: 100%;
}