* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

a:link {
  color: blue;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

.horiz_divider {
  width: 2rem;
  height: .4rem;
  border-radius: 5px;
  background-color: blue;
  margin-bottom: 6rem;
}
#viewer::-webkit-scrollbar {
  display: none;
}
#viewer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* #app_container {
  background: linear-gradient(
    -25deg,
    rgb(102, 102, 102),
    #ffffff
  );
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(226, 226, 226);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 212);
}
