#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 95vh;
    width: 100%;
    scroll-margin-top: 5.6rem;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)), url('https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg');
    /* border-bottom: 5px groove blue; */
}

#backToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s;
    /* background-color: rgba(179, 179, 179, 0.144); */
}

#backToTop:hover {
    transform: scale(1.1);
}

#home > h1 {
    font-size: 48px;
}

.Typewriter {
    margin: 2rem 0 3rem 0;
}

.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 32px;
}

.social_links {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 20px 25px -10px #999;
    transform: scale(1.25)
}

.social_links > a {
    margin: .5rem .5rem .5rem 1rem;
    opacity: 75%;
    transition: all 0.3s;
}

.social_links > a:hover {
    transform: scale(1.1);
    opacity: 100%;
}

#project_btn > a {
    color: white !important;
}


@media screen and (max-width: 599px) {
    #home > h1 {
        font-size: 36px;
    }
    
    .Typewriter__wrapper, .Typewriter__cursor {
        font-size: 20px;
    }

    .social_links {
        display: none;
    }

    #backToTop {
        transform: scale(0.75)
    }

    #backToTop:hover {
        transform: scale(0.85);
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    #home > h1 {
        font-size: 42px;
    }
    
    .Typewriter__wrapper, .Typewriter__cursor {
        font-size: 26px;
    }

    .social_links {
        transform: scale(.85)
    }

    #backToTop {
        transform: scale(0.75)
    }

    #backToTop:hover {
        transform: scale(0.85);
    }
}