#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 95vh;
    width: 100%;
    scroll-margin-top: 5.6rem;
    /* background: no-repeat url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Abstract-background-white-12.jpg/2560px-Abstract-background-white-12.jpg'); */
}

#home > h1 {
    font-size: 48px;
}

.Typewriter {
    margin: 2rem 0 3rem 0;
}

.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 32px;
}

.social_links {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 20px 25px -10px #999;
}

.social_links > a {
    margin: .5rem;
    opacity: 50%;
    transition: all 0.3s;
}

.social_links > a:hover {
    transform: scale(1.1);
    opacity: 100%;
}


@media screen and (max-width: 599px) {
    #home > h1 {
        font-size: 36px;
    }
    
    .Typewriter__wrapper, .Typewriter__cursor {
        font-size: 20px;
    }

    .social_links {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    #home > h1 {
        font-size: 42px;
    }
    
    .Typewriter__wrapper, .Typewriter__cursor {
        font-size: 26px;
    }

    .social_links {
        transform: scale(.65)
    }
}